* {
  box-sizing: border-box;
}


body {
  background-color: #222;
  background-size: cover;
  height: 100vh;
  color: white;
  padding: 1em;
  margin: 0 15%
}

.wrapper {
  font-family: 'Source Sans Pro', sans-serif;
}

.top {
  margin: 0;
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid white;

}

.top header {
  font-size: 2.5em;
  font-family: 'Lora', sans-serif;
}

main {
  font-size: 1.25em;
}

p span {
  font-family: 'Lora', sans-serif;
}

.about {
  padding: 1em 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}
.about .items {
  width: 100%;
  border-bottom: 1px solid white;
}

footer img {
  padding-top: 1em;
  width: 1.5em;
}

@media (min-width: 1200px) {

  .about {
    display: flex;
    flex-flow: row;
    border-bottom: 1px solid white;
  }

  .about .items {
    border-bottom: 0px;
    width: 30%
  }

  #div-2 {
    padding: 0 40px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
